*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2e2e2e;
    color: #000;
    font: normal 0.8rem Arial, Helvetica, sans-serif;
}

p{
    font-size: 1em;
    line-height: 1.7em;
    padding: 0 0 10px 0;
}

h1,h2,h3,h4,h5,h6{
    color: #154360;
    font-size: 1.7em;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
    text-shadow: 0px -1px 0px #fff;
}

h3{
    color: #fff;
    font: bold 1.3em Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #000;
}

h4,h5,h6{
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 0 0px 0;
}

h5,h6{
    font-size: 0.95em;
    color: #888;
    padding-bottom: 15px;
}
main, header, #barra_menu, section, footer{
    margin: 0 auto;
}

header{
    height: 80px;
    width: 940px;
    padding: 15px 0 0 0;
    position: relative;
}

section#contenido{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    width: 920px;
}

section#contenido_gris{
    background: #000;
    background: -moz-linear-gradient(#676767, #1d1d1d);
    background: -o-linear-gradient(#676767, #1d1d1d);
    background: -webkit-linear-gradient(#676767 ,#1d1d1d);
    height: 160px;
    width: 940px;
    text-align: center;
}

footer{
    background: -moz-linear-gradient(#6E6E6E,#2E2E2E);
    background: -o-linear-gradient(#6E6E6E,#2E2E2E);
    background: -webkit-linear-gradient(#6E6E6E,#2E2E2E);
    height: 60px;
    margin-top: 30px;
}

a, a:hover{
    color: #1d1d1d;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

ul{
    font-style: normal;
    font-size: 1em;
    line-height: 1.7em;
    margin: 2px 0 22px 30px;
}

#menu_container{ height: 50px;}

#barra_menu{
    width: 975px;
    height: 50px;
    float: right;
    margin: 0 auto;
}

ul#menu{
    margin: 0;
}

ul#menu li{
    padding: 0 0 0 0px;
    list-style: none;
    margin: 2px 0 0 0;
    display: inline;
    background: transparent;
}

ul#menu li a{
    float: left;
    font: bold 120% Arial, Helvetica, sans-serif;
    height: 24px;
    margin: 10px 0 0 20px;
    text-shadow: 0px -1px 0px #000;
    padding: 6px 10px 0 10px;
    background: transparent;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}


#universidad {
    width: 300px;
    float: left;
    height: 50px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 5px;
}

#universidad h1{
    font: normal 2.5em Arial, Helvetica, sans-serif;
    letter-spacing: -3px;
    text-shadow: 1px 1px yellow;
    color: #fff;
}

#img_grande {
    margin-top: 10px;
    margin-bottom: 10px;
}

.facultad{
    background-color: #098EFF;
    color: #fff;
    float: left;
    margin-right: 26px;
    padding: 20px;
    text-align: justify;
    width: 240px;
}
#content{
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
    width: 800px;
}

section#contenido_gris{
    background: #000;
    background: -moz-linear-gradient(#676767,#1D1D1D);
    background: -o-linear-gradient(#676767,#1D1D1D);
    background: -webkit-linear-gradient(#676767,#1D1D1D);
    box-shadow: rgba(0, 0, 0, 0.5)0px 0px 5px;
    height: 160px;
    width: 940px;
    text-align: center;
}

#contenido_gris p{
    color: #fff;
    text-shadow: 1px 1px #000;
}

#contenido_gris h4{
    text-shadow: 1px 1px #000;
}

.caja{
    width: 270px;
    padding: 5px;
    text-align: center;
    margin: 20px 0 10px 10px;
    float: left;
    text-align: justify;
}

.mas{
    font: bold 1.1em Arial, Helvetica, sans-serif;
    height: 15px;
    width: 80px;
    padding: 5px 2px 7px 7px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.mas a{
    color: #000;
    text-shadow: none;
}

.caja .mas{
    margin-left: 20px;
    padding: 5px 2px 7px 10px;
    background-color: #098EFF;
    background: -moz-linear-gradient(#43A9FF, #0183F0);
    background: -o-linear-gradient(#43A9FF, #0183F0);
    background: -webkit-linear-gradient(#43A9FF, #0183F0);

}

.caja .mas a{
    color: #fff;
    text-shadow: 1px 1px #004C8C;
}

#footer{
    color: #1D1D1D;
    width: 940px;
    height: 20px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px #FFF;
}
form  {
    text-align: center;
    color: #154360;
    font-size: 25px;
    font-weight: bold;
}
.centrado{
    text-align: center;
    font-size: 25px;
    color:#154360;
    font-weight: bold;
}